
*{
  text-align: center;
  font-size: large;
}

form label{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

form input{
  width: 500px;
  height: 30px;
}

input{
  font-size: large;
}

table {
  max-width: fit-content;
}

.addressClick {
  cursor: pointer;
}
.depositTable {
  width: 70px;
}

button {
  background-color: #0a1084; /* Green */
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4%;
  cursor: pointer;
}
